* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #dbfff5;
  font-size: 18px;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: inherit;
}
